.App {
  text-align: center;
  background-color: #61dafb;
}

.App-link {
  color: #61dafb;
}

.grid-container {
  display: grid;
  grid-column-gap: 5px;
  grid-template-areas: 'myArea myArea myArea myArea';
  margin-left: 15px;
}
